# Future Enginering

In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('sales_data.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Product_ID            1000 non-null   int64
 1   Sale_Date             1000 non-null   object
 2   Sales_Rep             1000 non-null   object
 3   Region                1000 non-null   object
 4   Sales_Amount          1000 non-null   float64
 5   Quantity_Sold         1000 non-null   int64
 6   Product_Category      1000 non-null   object
 7   Unit_Cost             1000 non-null   float64
 8   Unit_Price            1000 non-null   float64
 9   Customer_Type         1000 non-null   object
 10  Discount              1000 non-null   float64
 11  Payment_Method        1000 non-null   object
 12  Sales_Channel         1000 non-null   object
 13  Region_and_Sales_Rep  1000 non-null   object
dtypes: float64(4), int64(2), object(8)
memory usage: 109.5+ KB

In [5]:
df.head()

,Product_ID,Sale_Date,Sales_Rep,Region,Sales_Amount,Quantity_Sold,Product_Category,Unit_Cost,Unit_Price,Customer_Type,Discount,Payment_Method,Sales_Channel,Region_and_Sales_Rep
0,1052,2023-02-03,Bob,North,5053.97,18,Furniture,152.75,267.22,Returning,0.09,Cash,Online,North-Bob
1,1093,2023-04-21,Bob,West,4384.02,17,Furniture,3816.39,4209.44,Returning,0.11,Cash,Retail,West-Bob
2,1015,2023-09-21,David,South,4631.23,30,Food,261.56,371.40,Returning,0.20,Bank Transfer,Retail,South-David
3,1072,2023-08-24,Bob,South,2167.94,39,Clothing,4330.03,4467.75,New,0.02,Credit Card,Retail,South-Bob
4,1061,2023-03-24,Charlie,East,3750.20,13,Electronics,637.37,692.71,New,0.08,Credit Card,Online,East-Charlie

# Mutual Information score

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Product_ID            1000 non-null   int64
 1   Sale_Date             1000 non-null   object
 2   Sales_Rep             1000 non-null   object
 3   Region                1000 non-null   object
 4   Sales_Amount          1000 non-null   float64
 5   Quantity_Sold         1000 non-null   int64
 6   Product_Category      1000 non-null   object
 7   Unit_Cost             1000 non-null   float64
 8   Unit_Price            1000 non-null   float64
 9   Customer_Type         1000 non-null   object
 10  Discount              1000 non-null   float64
 11  Payment_Method        1000 non-null   object
 12  Sales_Channel         1000 non-null   object
 13  Region_and_Sales_Rep  1000 non-null   object
dtypes: float64(4), int64(2), object(8)
memory usage: 109.5+ KB

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
encoder=LabelEncoder()

In [9]:
cat_col=df.select_dtypes(include='object').columns

In [10]:
cat_col

Index(['Sale_Date', 'Sales_Rep', 'Region', 'Product_Category', 'Customer_Type',
       'Payment_Method', 'Sales_Channel', 'Region_and_Sales_Rep'],
      dtype='object')

In [12]:
df[cat_col]=df[cat_col].apply(encoder.fit_transform)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Product_ID            1000 non-null   int64
 1   Sale_Date             1000 non-null   int64
 2   Sales_Rep             1000 non-null   int64
 3   Region                1000 non-null   int64
 4   Sales_Amount          1000 non-null   float64
 5   Quantity_Sold         1000 non-null   int64
 6   Product_Category      1000 non-null   int64
 7   Unit_Cost             1000 non-null   float64
 8   Unit_Price            1000 non-null   float64
 9   Customer_Type         1000 non-null   int64
 10  Discount              1000 non-null   float64
 11  Payment_Method        1000 non-null   int64
 12  Sales_Channel         1000 non-null   int64
 13  Region_and_Sales_Rep  1000 non-null   int64
dtypes: float64(4), int64(10)
memory usage: 109.5 KB

In [15]:
x=df.drop(columns=['Region_and_Sales_Rep'])

In [16]:
x

,Product_ID,Sale_Date,Sales_Rep,Region,Sales_Amount,Quantity_Sold,Product_Category,Unit_Cost,Unit_Price,Customer_Type,Discount,Payment_Method,Sales_Channel
0,1052,31,1,1,5053.97,18,3,152.75,267.22,1,0.09,1,0
1,1093,102,1,3,4384.02,17,3,3816.39,4209.44,1,0.11,1,1
2,1015,246,3,2,4631.23,30,2,261.56,371.40,1,0.20,0,1
3,1072,222,1,2,2167.94,39,0,4330.03,4467.75,0,0.02,2,1
4,1061,76,2,0,3750.20,13,1,637.37,692.71,0,0.08,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1010,96,2,1,4733.88,4,2,4943.03,5442.15,1,0.29,1,0
996,1067,234,1,1,4716.36,37,0,1754.32,1856.40,0,0.21,0,1
997,1018,108,3,2,7629.70,17,0,355.72,438.27,1,0.06,0,0
998,1100,328,3,3,1629.47,39,1,3685.03,3743.39,0,0.01,0,0
999,1086,215,0,0,4923.93,48,2,2632.58,2926.68,1,0.14,1,0

In [18]:
y=df['Region_and_Sales_Rep']

In [19]:
y

0       6
1      16
2      13
3      11
4       2
       ..
995     7
996     6
997    13
998    18
999     0
Name: Region_and_Sales_Rep, Length: 1000, dtype: int64

In [20]:
from sklearn.feature_selection import mutual_info_regression

In [21]:
mi_score=mutual_info_regression(x,y,discrete_features='auto')

In [22]:
mi_score

array([0.00883839, 0.        , 1.58437306, 1.397894  , 0.02219172,
       0.01714051, 0.04331574, 0.        , 0.        , 0.00618913,
       0.        , 0.        , 0.        ])

In [23]:
mi_df=pd.DataFrame({'Feature':x.columns,'Mutual Information Score':mi_score})

In [24]:
mi_df=mi_df.sort_values(by='Mutual Information Score',ascending=False)

In [25]:
print(mi_df)

             Feature  Mutual Information Score
2          Sales_Rep                  1.584373
3             Region                  1.397894
6   Product_Category                  0.043316
4       Sales_Amount                  0.022192
5      Quantity_Sold                  0.017141
0         Product_ID                  0.008838
9      Customer_Type                  0.006189
1          Sale_Date                  0.000000
7          Unit_Cost                  0.000000
8         Unit_Price                  0.000000
10          Discount                  0.000000
11    Payment_Method                  0.000000
12     Sales_Channel                  0.000000