# Missing Value

In [10]:
pip install pandas

Requirement already satisfied: pandas in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [12]:
import pandas as pd

In [13]:
df=pd.read_csv('obesity prediction.csv')

# Data bialn tanishuv

In [14]:
df.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

# Data haqida umumiy ma'lumot

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          2109 non-null   object
 1   Age             2108 non-null   float64
 2   Height          2110 non-null   float64
 3   Weight          2107 non-null   float64
 4   family_history  2108 non-null   object
 5   FAVC            2104 non-null   object
 6   FCVC            2106 non-null   float64
 7   NCP             2109 non-null   float64
 8   CAEC            2105 non-null   object
 9   SMOKE           2110 non-null   object
 10  CH2O            2107 non-null   float64
 11  SCC             2111 non-null   object
 12  FAF             2111 non-null   float64
 13  TUE             2111 non-null   float64
 14  CALC            2108 non-null   object
 15  MTRANS          2108 non-null   object
 16  Obesity         2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB

# Tushib qolgan elementlarni aniqlash

In [16]:
df.isnull().sum()

Gender            2
Age               3
Height            1
Weight            4
family_history    3
FAVC              7
FCVC              5
NCP               2
CAEC              6
SMOKE             1
CH2O              4
SCC               0
FAF               0
TUE               0
CALC              3
MTRANS            3
Obesity           0
dtype: int64

In [9]:
df.describe()

,Age,Height,Weight,FCVC,NCP,CH2O,FAF,TUE
count,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000
mean,24.312600,1.701677,86.586058,2.419043,2.685628,2.008011,1.010298,0.657866
std,6.345968,0.093305,26.191172,0.533927,0.778039,0.612953,0.850592,0.608927
min,14.000000,1.450000,39.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,19.947192,1.630000,65.473343,2.000000,2.658738,1.584812,0.124505,0.000000
50%,22.777890,1.700499,83.000000,2.385502,3.000000,2.000000,1.000000,0.625350
75%,26.000000,1.768464,107.430682,3.000000,3.000000,2.477420,1.666678,1.000000
max,61.000000,1.980000,173.000000,3.000000,4.000000,3.000000,3.000000,2.000000

# Drop Missing Valueni handle qilish 1 usul

In [18]:
df.dropna(axis=1,inplace=True)

In [20]:
df.isnull().sum()

SCC        0
FAF        0
TUE        0
Obesity    0
dtype: int64

In [21]:
df.info() # juda ko'rawslarni drop qildi.Natijada ko'pkerakli datalar tushib qolgani un output qiymatida occurancy kam bo'ladi

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   SCC      2111 non-null   object
 1   FAF      2111 non-null   float64
 2   TUE      2111 non-null   float64
 3   Obesity  2111 non-null   object
dtypes: float64(2), object(2)
memory usage: 66.1+ KB

# Drop Missing Value handle qilish 2 method

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          2109 non-null   object
 1   Age             2108 non-null   float64
 2   Height          2110 non-null   float64
 3   Weight          2107 non-null   float64
 4   family_history  2108 non-null   object
 5   FAVC            2104 non-null   object
 6   FCVC            2106 non-null   float64
 7   NCP             2109 non-null   float64
 8   CAEC            2105 non-null   object
 9   SMOKE           2110 non-null   object
 10  CH2O            2107 non-null   float64
 11  SCC             2111 non-null   object
 12  FAF             2111 non-null   float64
 13  TUE             2111 non-null   float64
 14  CALC            2108 non-null   object
 15  MTRANS          2108 non-null   object
 16  Obesity         2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB

In [6]:
df.isnull().sum()

Gender            2
Age               3
Height            1
Weight            4
family_history    3
FAVC              7
FCVC              5
NCP               2
CAEC              6
SMOKE             1
CH2O              4
SCC               0
FAF               0
TUE               0
CALC              3
MTRANS            3
Obesity           0
dtype: int64

# Kerak emas columnni tashlab yuborish

In [7]:
df.drop(columns=['Gender'],axis=1,inplace=True)

In [8]:
df.isnull().sum()

Age               3
Height            1
Weight            4
family_history    3
FAVC              7
FCVC              5
NCP               2
CAEC              6
SMOKE             1
CH2O              4
SCC               0
FAF               0
TUE               0
CALC              3
MTRANS            3
Obesity           0
dtype: int64

In [4]:
df.drop(columns=['Age'],axis=1,inplace=True)

In [5]:
df.drop(columns=['Height'],axis=1,inplace=True)

In [6]:
df.drop(columns=['Weight'],axis=1,inplace=True)

In [8]:
df.drop(columns=['family_history'],axis=1,inplace=True)

In [9]:
df.drop(columns=['FAVC'],axis=1,inplace=True)

In [10]:
df.drop(columns=['FCVC'],axis=1,inplace=True)

In [11]:
df.drop(columns=['NCP'],axis=1,inplace=True)

In [12]:
df.drop(columns=['CAEC'],axis=1,inplace=True)

In [13]:
df.drop(columns=['SMOKE'],axis=1,inplace=True)

In [14]:
df.drop(columns=['CH2O'],axis=1,inplace=True)

In [22]:
df.drop(columns=['Gender'],axis=1,inplace=True)

In [17]:
df.drop(columns=['CALC'],axis=1,inplace=True)

KeyError: "['CALC'] not found in axis"

In [18]:
df.drop(columns=['MTRANS'],axis=1,inplace=True)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   SCC      2111 non-null   object
 1   FAF      2111 non-null   float64
 2   TUE      2111 non-null   float64
 3   Obesity  2111 non-null   object
dtypes: float64(2), object(2)
memory usage: 66.1+ KB

In [24]:
df.isnull().sum()  #hammasini birdaniga drop qilgan bilan ,column larni bit bitta drop qilgandagi 0 ga teng bolgan qiymatlar bir xil

SCC        0
FAF        0
TUE        0
Obesity    0
dtype: int64

# Drop 3 formula faqat raws larni drop qiladi column qoladi

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          2109 non-null   object
 1   Age             2108 non-null   float64
 2   Height          2110 non-null   float64
 3   Weight          2107 non-null   float64
 4   family_history  2108 non-null   object
 5   FAVC            2104 non-null   object
 6   FCVC            2106 non-null   float64
 7   NCP             2109 non-null   float64
 8   CAEC            2105 non-null   object
 9   SMOKE           2110 non-null   object
 10  CH2O            2107 non-null   float64
 11  SCC             2111 non-null   object
 12  FAF             2111 non-null   float64
 13  TUE             2111 non-null   float64
 14  CALC            2108 non-null   object
 15  MTRANS          2108 non-null   object
 16  Obesity         2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB

In [7]:
df.isnull().sum()

Gender            2
Age               3
Height            1
Weight            4
family_history    3
FAVC              7
FCVC              5
NCP               2
CAEC              6
SMOKE             1
CH2O              4
SCC               0
FAF               0
TUE               0
CALC              3
MTRANS            3
Obesity           0
dtype: int64

In [10]:
df=df.dropna(subset=['Gender'])
df=df.dropna(subset=['Age'])
df=df.dropna(subset=['Height'])
df=df.dropna(subset=['Weight'])
df=df.dropna(subset=['family_history'])
df=df.dropna(subset=['FAVC'])
df=df.dropna(subset=['FCVC'])
df=df.dropna(subset=['NCP'])
df=df.dropna(subset=['CAEC'])
df=df.dropna(subset=['SMOKE'])
df=df.dropna(subset=['CH2O'])
df=df.dropna(subset=['CALC'])
df=df.dropna(subset=['MTRANS'])

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2071 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          2071 non-null   object
 1   Age             2071 non-null   float64
 2   Height          2071 non-null   float64
 3   Weight          2071 non-null   float64
 4   family_history  2071 non-null   object
 5   FAVC            2071 non-null   object
 6   FCVC            2071 non-null   float64
 7   NCP             2071 non-null   float64
 8   CAEC            2071 non-null   object
 9   SMOKE           2071 non-null   object
 10  CH2O            2071 non-null   float64
 11  SCC             2071 non-null   object
 12  FAF             2071 non-null   float64
 13  TUE             2071 non-null   float64
 14  CALC            2071 non-null   object
 15  MTRANS          2071 non-null   object
 16  Obesity         2071 non-null   object
dtypes: float64(8), object(9)
memory usage: 291.2+ KB

In [12]:
df.isnull().sum() #Xulosa demak, deyarli barcha columnlarda missing value bor holatda 1 va 2 method lar foydalansak ko'p data drop qilib yuborishga tog'ri keladi.
agar 3 formuladan foydalansak faqat missing value bor raws ni drop qiladi ,a qolgan raws qoladi.Al oqibat tareget feature occurancy aniq chiqadi

Gender            0
Age               0
Height            0
Weight            0
family_history    0
FAVC              0
FCVC              0
NCP               0
CAEC              0
SMOKE             0
CH2O              0
SCC               0
FAF               0
TUE               0
CALC              0
MTRANS            0
Obesity           0
dtype: int64

# Data manipulation qilish un

In [ ]:
#umumiy tushib qolgan elementlarni aniqlash
tushib_qolganlar=df.columns[df.isnull().any()]
df=df.dropna(subset=tushib_qolganlar)

In [37]:
tushib_qolganlar

Index(['Gender', 'Age', 'Height', 'Weight', 'family_history', 'FAVC', 'FCVC',
       'NCP', 'CAEC', 'SMOKE', 'CH2O', 'CALC', 'MTRANS'],
      dtype='object')

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          2111 non-null   object
 1   Age             2111 non-null   float64
 2   Height          2111 non-null   float64
 3   Weight          2111 non-null   float64
 4   family_history  2111 non-null   object
 5   FAVC            2111 non-null   object
 6   FCVC            2111 non-null   float64
 7   NCP             2111 non-null   float64
 8   CAEC            2111 non-null   object
 9   SMOKE           2111 non-null   object
 10  CH2O            2111 non-null   float64
 11  SCC             2111 non-null   object
 12  FAF             2111 non-null   float64
 13  TUE             2111 non-null   float64
 14  CALC            2111 non-null   object
 15  MTRANS          2111 non-null   object
 16  Obesity         2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB

In [45]:
df.isnull().sum()

Gender            0
Age               0
Height            0
Weight            0
family_history    0
FAVC              0
FCVC              0
NCP               0
CAEC              0
SMOKE             0
CH2O              0
SCC               0
FAF               0
TUE               0
CALC              0
MTRANS            0
Obesity           0
dtype: int64

# Mean method bilan missing value larni filling qilish

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          2109 non-null   object
 1   Age             2108 non-null   float64
 2   Height          2110 non-null   float64
 3   Weight          2107 non-null   float64
 4   family_history  2108 non-null   object
 5   FAVC            2104 non-null   object
 6   FCVC            2106 non-null   float64
 7   NCP             2109 non-null   float64
 8   CAEC            2105 non-null   object
 9   SMOKE           2110 non-null   object
 10  CH2O            2107 non-null   float64
 11  SCC             2111 non-null   object
 12  FAF             2111 non-null   float64
 13  TUE             2111 non-null   float64
 14  CALC            2108 non-null   object
 15  MTRANS          2108 non-null   object
 16  Obesity         2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB

In [6]:
df.isnull().sum()

Gender            2
Age               3
Height            1
Weight            4
family_history    3
FAVC              7
FCVC              5
NCP               2
CAEC              6
SMOKE             1
CH2O              4
SCC               0
FAF               0
TUE               0
CALC              3
MTRANS            3
Obesity           0
dtype: int64

In [7]:
df['Gender'].fillna(df['Gender'].mean(),inplace=True) # object data type bolgani un missing valueni filling qilib bolmadi

TypeError: can only concatenate str (not "int") to str

In [13]:
df['Age'].fillna(df['Age'].mean(),inplace=True)
df['Height'].fillna(df['Height'].mean(),inplace=True)
df['Weight'].fillna(df['Weight'].mean(),inplace=True)
df['FCVC'].fillna(df['FCVC'].mean(),inplace=True)
df['NCP'].fillna(df['NCP'].mean(),inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_12380\3731975824.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(),inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_12380\3731975824.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Height'].fillna(df['Height'].mean(),inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_12380\3731975824.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Weight'].fillna(df['Weight'].mean(),inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_12380\3731975824.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['NCP'].fillna(df['NCP'].mean(),inplace=True)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          2109 non-null   object
 1   Age             2111 non-null   float64
 2   Height          2111 non-null   float64
 3   Weight          2111 non-null   float64
 4   family_history  2108 non-null   object
 5   FAVC            2104 non-null   object
 6   FCVC            2111 non-null   float64
 7   NCP             2111 non-null   float64
 8   CAEC            2105 non-null   object
 9   SMOKE           2110 non-null   object
 10  CH2O            2107 non-null   float64
 11  SCC             2111 non-null   object
 12  FAF             2111 non-null   float64
 13  TUE             2111 non-null   float64
 14  CALC            2108 non-null   object
 15  MTRANS          2108 non-null   object
 16  Obesity         2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB

In [15]:
df.isnull().sum() #ushbu tushib qolgan elementlar object datatype bolgani sababli ullarni filling qilib bolmadi meaan da

Gender            2
Age               0
Height            0
Weight            0
family_history    3
FAVC              7
FCVC              0
NCP               0
CAEC              6
SMOKE             1
CH2O              4
SCC               0
FAF               0
TUE               0
CALC              3
MTRANS            3
Obesity           0
dtype: int64

# Mode Missing Valueni handle qilishni 3 usul

In [4]:
df.info()  #Mode handle qilishda asosan string un lekin integer data typeni ham handle qila oladi

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          2109 non-null   object
 1   Age             2108 non-null   float64
 2   Height          2110 non-null   float64
 3   Weight          2107 non-null   float64
 4   family_history  2108 non-null   object
 5   FAVC            2104 non-null   object
 6   FCVC            2106 non-null   float64
 7   NCP             2109 non-null   float64
 8   CAEC            2105 non-null   object
 9   SMOKE           2110 non-null   object
 10  CH2O            2107 non-null   float64
 11  SCC             2111 non-null   object
 12  FAF             2111 non-null   float64
 13  TUE             2111 non-null   float64
 14  CALC            2108 non-null   object
 15  MTRANS          2108 non-null   object
 16  Obesity         2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB

In [5]:
df.isnull().sum()

Gender            2
Age               3
Height            1
Weight            4
family_history    3
FAVC              7
FCVC              5
NCP               2
CAEC              6
SMOKE             1
CH2O              4
SCC               0
FAF               0
TUE               0
CALC              3
MTRANS            3
Obesity           0
dtype: int64

In [6]:
df['Gender'].value_counts() #demak ushbu formula orqali ushbu columnda qaysi feature dan eng kop qatnashganini bilib olishimiz mumkin

Gender
Male      1068
Female    1041
Name: count, dtype: int64

In [7]:
df['Gender'].fillna(df['Gender'].mode()[0],inplace=True)

In [8]:
df['Gender'].value_counts() #ko'rib turganimizdek Male 1070 ta boldi ya'ni 2 taga ko'paydi

Gender
Male      1070
Female    1041
Name: count, dtype: int64

In [9]:
df['Age'].value_counts()

Age
18.000000    128
26.000000    100
21.000000     95
23.000000     88
19.000000     59
            ...
21.680123      1
24.469756      1
25.127910      1
25.986368      1
23.761970      1
Name: count, Length: 1402, dtype: int64

In [11]:
df['Age'].fillna(df['Age'].mode()[0],inplace=True)

In [12]:
df['Age'].value_counts() #ya'ni Age 3 ta o ga teng bolgan qiymat bor edi shu sabab eng kop qatnashgan buirinjid turga qiymat bn 3 taga kopaygan

Age
18.000000    131
26.000000    100
21.000000     95
23.000000     88
19.000000     59
            ...
21.680123      1
24.469756      1
25.127910      1
25.986368      1
23.761970      1
Name: count, Length: 1402, dtype: int64

In [14]:
df['Height'].fillna(df['Height'].mode()[0],inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_6936\3530653789.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Height'].fillna(df['Height'].mode()[0],inplace=True)

In [15]:
df['Height'].value_counts()

Height
1.700000    61
1.650000    49
1.600000    43
1.750000    39
1.620000    36
            ..
1.643421     1
1.640535     1
1.626483     1
1.645990     1
1.631547     1
Name: count, Length: 1574, dtype: int64

In [16]:
df['Weight'].value_counts()

Weight
80.000000     59
70.000000     43
50.000000     42
75.000000     40
60.000000     37
              ..
111.939983     1
111.555967     1
111.357062     1
111.922491     1
104.920570     1
Name: count, Length: 1521, dtype: int64

In [19]:
df['Weight'].fillna(df['Weight'].mode(0)[0],inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_6936\1131496785.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Weight'].fillna(df['Weight'].mode(0)[0],inplace=True)

In [20]:
df['Weight'].value_counts()

Weight
80.000000     63
70.000000     43
50.000000     42
75.000000     40
60.000000     37
              ..
111.939983     1
111.555967     1
111.357062     1
111.922491     1
104.920570     1
Name: count, Length: 1521, dtype: int64

In [21]:
df['family_history'].value_counts()

family_history
yes    1723
no      385
Name: count, dtype: int64

In [22]:
df['family_history'].fillna(df['family_history'].mode()[0],inplace=True)

In [23]:
df['family_history'].value_counts()

family_history
yes    1726
no      385
Name: count, dtype: int64

In [25]:
df.isnull().sum()

Gender            0
Age               0
Height            0
Weight            0
family_history    0
FAVC              7
FCVC              5
NCP               2
CAEC              6
SMOKE             1
CH2O              4
SCC               0
FAF               0
TUE               0
CALC              3
MTRANS            3
Obesity           0
dtype: int64

In [26]:
df['FAVC'].value_counts()

FAVC
yes    1860
no      244
Name: count, dtype: int64

In [27]:
df['FAVC'].fillna(df['FAVC'].mode()[0],inplace=True)

In [29]:
df['FAVC'].value_counts()

FAVC
yes    1867
no      244
Name: count, dtype: int64

In [31]:
df['FCVC'].fillna(df['FCVC'].mode()[0],inplace=True)
df['NCP'].fillna(df['NCP'].mode()[0],inplace=True)
df['CAEC'].fillna(df['CAEC'].mode()[0],inplace=True)
df['SMOKE'].fillna(df['SMOKE'].mode()[0],inplace=True)
df['CH2O'].fillna(df['CH2O'].mode()[0],inplace=True)
df['CALC'].fillna(df['CALC'].mode()[0],inplace=True)
df['MTRANS'].fillna(df['MTRANS'].mode()[0],inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_6936\2385690430.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['FCVC'].fillna(df['FCVC'].mode()[0],inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_6936\2385690430.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['NCP'].fillna(df['NCP'].mode()[0],inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_6936\2385690430.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['CH2O'].fillna(df['CH2O'].mode()[0],inplace=True)

In [32]:
df.isnull().sum() #well done

Gender            0
Age               0
Height            0
Weight            0
family_history    0
FAVC              0
FCVC              0
NCP               0
CAEC              0
SMOKE             0
CH2O              0
SCC               0
FAF               0
TUE               0
CALC              0
MTRANS            0
Obesity           0
dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          2109 non-null   object
 1   Age             2108 non-null   float64
 2   Height          2110 non-null   float64
 3   Weight          2107 non-null   float64
 4   family_history  2108 non-null   object
 5   FAVC            2104 non-null   object
 6   FCVC            2106 non-null   float64
 7   NCP             2109 non-null   float64
 8   CAEC            2105 non-null   object
 9   SMOKE           2110 non-null   object
 10  CH2O            2107 non-null   float64
 11  SCC             2111 non-null   object
 12  FAF             2111 non-null   float64
 13  TUE             2111 non-null   float64
 14  CALC            2108 non-null   object
 15  MTRANS          2108 non-null   object
 16  Obesity         2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB

# Median Method

# Fixed qiymat Method

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          2109 non-null   object
 1   Age             2111 non-null   float64
 2   Height          2110 non-null   float64
 3   Weight          2107 non-null   float64
 4   family_history  2108 non-null   object
 5   FAVC            2104 non-null   object
 6   FCVC            2106 non-null   float64
 7   NCP             2109 non-null   float64
 8   CAEC            2105 non-null   object
 9   SMOKE           2110 non-null   object
 10  CH2O            2107 non-null   float64
 11  SCC             2111 non-null   object
 12  FAF             2111 non-null   float64
 13  TUE             2111 non-null   float64
 14  CALC            2108 non-null   object
 15  MTRANS          2108 non-null   object
 16  Obesity         2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB

In [6]:
df.isnull().sum()

Gender            2
Age               3
Height            1
Weight            4
family_history    3
FAVC              7
FCVC              5
NCP               2
CAEC              6
SMOKE             1
CH2O              4
SCC               0
FAF               0
TUE               0
CALC              3
MTRANS            3
Obesity           0
dtype: int64

In [9]:
df['Gender'].fillna('male',inplace=True)

TypeError: 'NoneType' object is not subscriptable

In [8]:
df.isnull().sum()

AttributeError: 'NoneType' object has no attribute 'isnull'

In [28]:
df.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [31]:
df['CAEC'].value_counts()

CAEC
Sometimes     1760
Frequently     242
Always          53
no              50
Name: count, dtype: int64

In [14]:
df['Gender'].fillna('male',inplace=True)
df['Age'].fillna(110,inplace=True)
df['Height'].fillna(20,inplace=True)
df['Weight'].fillna(20,inplace=True)
df['family_history'].fillna('yes',inplace=True)
df['FAVC'].fillna('yes',inplace=True)
df['FCVC'].fillna(20,inplace=True)
df['NCP'].fillna(20,inplace=True)
df['CAEC'].fillna('Sometimes',inplace=True)
df['SMOKE'].fillna('yes',inplace=True)
df['CH2O'].fillna(20,inplace=True)
df['CALC'].fillna('no',inplace=True)
df['MTRANS'].fillna('Public_Transportation',inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_12140\4202800263.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Gender'].fillna('male',inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_12140\4202800263.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(110,inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_12140\4202800263.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Height'].fillna(20,inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_12140\4202800263.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Weight'].fillna(20,inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_12140\4202800263.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['family_history'].fillna('yes',inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_12140\4202800263.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['FAVC'].fillna('yes',inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_12140\4202800263.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['FCVC'].fillna(20,inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_12140\4202800263.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['NCP'].fillna(20,inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_12140\4202800263.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['CAEC'].fillna('Sometimes',inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_12140\4202800263.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['SMOKE'].fillna('yes',inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_12140\4202800263.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['CH2O'].fillna(20,inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_12140\4202800263.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['CALC'].fillna('no',inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_12140\4202800263.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['MTRANS'].fillna('Public_Transportation',inplace=True)

In [15]:
df.isnull().sum()

Gender            0
Age               0
Height            0
Weight            0
family_history    0
FAVC              0
FCVC              0
NCP               0
CAEC              0
SMOKE             0
CH2O              0
SCC               0
FAF               0
TUE               0
CALC              0
MTRANS            0
Obesity           0
dtype: int64

In [16]:
tushib_qolganlar=df.columns[df.isnull().any()]  # nimaga fixedda jami tushib qolganlarni bitta fomulla bilan filling qilib bolmayabdi?
df=df.fillna(2,inplace=True)

In [17]:
df.isnull().sum()

AttributeError: 'NoneType' object has no attribute 'isnull'