# import libraries

In [28]:
import pandas as pd                                                                              # data yuklab olish,data cleaning
import numpy as np                                                                               # data yuklab olish,data cleaning
import seaborn as sns                                                                            # data yuklab olish,data cleaning 
import matplotlib.pyplot as plt                                                                  # data yuklab olish ,data cleaning
from sklearn.preprocessing import LabelEncoder,StandardScaler,MinMaxScaler,RobustScaler          # data preprocessing_Encoding and Scaling
from sklearn.model_selection import train_test_split                                             # training process,testing process
from sklearn.linear_model import LogisticRegression,LinearRegression                             # linear model 
from sklearn.tree import DecisionTreeClassifier,DecisionTreeRegressor                            # non linear
from sklearn.metrics import accuracy_score,mean_squared_error,r2_score                           # Metrics- modelni ishonchliligini tekshiramiz ya'ni Generelazition xususiyatini tekshirish

In [29]:
df=pd.read_csv('Obesity prediction.csv')

In [3]:
df.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          2109 non-null   object
 1   Age             2110 non-null   float64
 2   Height          2110 non-null   float64
 3   Weight          2107 non-null   float64
 4   family_history  2108 non-null   object
 5   FAVC            2106 non-null   object
 6   FCVC            2106 non-null   float64
 7   NCP             2109 non-null   float64
 8   CAEC            2106 non-null   object
 9   SMOKE           2110 non-null   object
 10  CH2O            2107 non-null   float64
 11  SCC             2111 non-null   object
 12  FAF             2111 non-null   float64
 13  TUE             2111 non-null   float64
 14  CALC            2108 non-null   object
 15  MTRANS          2108 non-null   object
 16  Obesity         2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB

In [5]:
df.isnull().sum()

Gender            2
Age               1
Height            1
Weight            4
family_history    3
FAVC              5
FCVC              5
NCP               2
CAEC              5
SMOKE             1
CH2O              4
SCC               0
FAF               0
TUE               0
CALC              3
MTRANS            3
Obesity           0
dtype: int64

# Data Cleaning

In [ ]:
# for loop orqali 4 line coding bn osongina tushib qolgan qiymatlarni filling qilamiz
for col in df.columns:
    if df[col].dtype==object:
     df[col].fillna(df[col].mode()[0],inplace=True)
    else:   
      df[col].fillna(df[col].mean(),inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_1284\646681006.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0],inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_1284\646681006.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(),inplace=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          2111 non-null   object
 1   Age             2111 non-null   float64
 2   Height          2111 non-null   float64
 3   Weight          2111 non-null   float64
 4   family_history  2111 non-null   object
 5   FAVC            2111 non-null   object
 6   FCVC            2111 non-null   float64
 7   NCP             2111 non-null   float64
 8   CAEC            2111 non-null   object
 9   SMOKE           2111 non-null   object
 10  CH2O            2111 non-null   float64
 11  SCC             2111 non-null   object
 12  FAF             2111 non-null   float64
 13  TUE             2111 non-null   float64
 14  CALC            2111 non-null   object
 15  MTRANS          2111 non-null   object
 16  Obesity         2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB

In [10]:
df.isnull().sum()

Gender            0
Age               0
Height            0
Weight            0
family_history    0
FAVC              0
FCVC              0
NCP               0
CAEC              0
SMOKE             0
CH2O              0
SCC               0
FAF               0
TUE               0
CALC              0
MTRANS            0
Obesity           0
dtype: int64

# Encoding

In [18]:
df_encoded=df.copy()

In [20]:
from sklearn.preprocessing import LabelEncoder  
for col in df_encoded.select_dtypes(include=['object']).columns:
    cardinality=df_encoded[col].nunique()
    if cardinality<=5:
        le=LabelEncoder()
        df_encoded[col]=le.fit_transform(df_encoded[col])
    else:
        df_encoded=pd.get_dummies(df_encoded,columns=[col],dtype=int, drop_first=True)
df=df_encoded

In [ ]:
df.info()   # hamma data type int va float ga o'zgartirib oldik

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Gender                       2111 non-null   int64
 1   Age                          2111 non-null   float64
 2   Height                       2111 non-null   float64
 3   Weight                       2111 non-null   float64
 4   family_history               2111 non-null   int64
 5   FAVC                         2111 non-null   int64
 6   FCVC                         2111 non-null   float64
 7   NCP                          2111 non-null   float64
 8   CAEC                         2111 non-null   int64
 9   SMOKE                        2111 non-null   int64
 10  CH2O                         2111 non-null   float64
 11  SCC                          2111 non-null   int64
 12  FAF                          2111 non-null   float64
 13  TUE                          2111 non-null   float64
 14  CALC                         2111 non-null   int64
 15  MTRANS                       2111 non-null   int64
 16  Obesity_Normal_Weight        2111 non-null   int64
 17  Obesity_Obesity_Type_I       2111 non-null   int64
 18  Obesity_Obesity_Type_II      2111 non-null   int64
 19  Obesity_Obesity_Type_III     2111 non-null   int64
 20  Obesity_Overweight_Level_I   2111 non-null   int64
 21  Obesity_Overweight_Level_II  2111 non-null   int64
dtypes: float64(8), int64(14)
memory usage: 363.0 KB

In [ ]:
df.isnull().sum()   # ham filling qildik tushib qolgan qiymatlarni

Gender                         0
Age                            0
Height                         0
Weight                         0
family_history                 0
FAVC                           0
FCVC                           0
NCP                            0
CAEC                           0
SMOKE                          0
CH2O                           0
SCC                            0
FAF                            0
TUE                            0
CALC                           0
MTRANS                         0
Obesity_Normal_Weight          0
Obesity_Obesity_Type_I         0
Obesity_Obesity_Type_II        0
Obesity_Obesity_Type_III       0
Obesity_Overweight_Level_I     0
Obesity_Overweight_Level_II    0
dtype: int64

# Scaling

In [23]:
num_col=df.select_dtypes(include=['int64','float64']).columns

In [26]:
num_col

Index(['Gender', 'Age', 'Height', 'Weight', 'family_history', 'FAVC', 'FCVC',
       'NCP', 'CAEC', 'SMOKE', 'CH2O', 'SCC', 'FAF', 'TUE', 'CALC', 'MTRANS',
       'Obesity_Normal_Weight', 'Obesity_Obesity_Type_I',
       'Obesity_Obesity_Type_II', 'Obesity_Obesity_Type_III',
       'Obesity_Overweight_Level_I', 'Obesity_Overweight_Level_II'],
      dtype='object')

In [27]:
scaler=StandardScaler()

In [28]:
df[num_col]=scaler.fit_transform(df[num_col])

In [29]:
df.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,...,FAF,TUE,CALC,MTRANS,Obesity_Normal_Weight,Obesity_Obesity_Type_I,Obesity_Obesity_Type_II,Obesity_Obesity_Type_III,Obesity_Overweight_Level_I,Obesity_Overweight_Level_II
0,-1.013833,-0.522007,-0.875916,-0.861853,0.472291,-2.76616,-0.783537,0.404567,0.301775,-0.145900,...,-1.188039,0.561997,1.419172,0.502599,2.520992,-0.446578,-0.404631,-0.425804,-0.399065,-0.399065
1,-1.013833,-0.522007,-1.948004,-1.168113,0.472291,-2.76616,1.092463,0.404567,0.301775,6.853997,...,2.339750,-1.080625,-0.521160,0.502599,2.520992,-0.446578,-0.404631,-0.425804,-0.399065,-0.399065
2,0.986356,-0.206766,1.053843,-0.364182,0.472291,-2.76616,-0.783537,0.404567,0.301775,-0.145900,...,1.163820,0.561997,-2.461491,0.502599,2.520992,-0.446578,-0.404631,-0.425804,-0.399065,-0.399065
3,0.986356,0.423715,1.053843,0.018643,-2.117337,-2.76616,1.092463,0.404567,0.301775,-0.145900,...,1.163820,-1.080625,-2.461491,1.296156,-0.396669,-0.446578,-0.404631,-0.425804,2.505855,-0.399065
4,0.986356,-0.364387,0.839425,0.125834,-2.117337,-2.76616,-0.783537,-2.166807,0.301775,-0.145900,...,-1.188039,-1.080625,-0.521160,0.502599,-0.396669,-0.446578,-0.404631,-0.425804,-0.399065,2.505855

# Model Training

# input va outputlarni ajratib olamiz

In [8]:
x=df.drop(columns=['Obesity'])

In [7]:
y=df['Obesity']

In [9]:
x

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS
0,Female,21.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation
1,Female,21.000000,1.520000,56.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation
2,Male,23.000000,1.800000,77.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation
3,Male,27.000000,1.800000,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking
4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation

In [10]:
y

0             Normal_Weight
1             Normal_Weight
2             Normal_Weight
3        Overweight_Level_I
4       Overweight_Level_II
               ...
2106       Obesity_Type_III
2107       Obesity_Type_III
2108       Obesity_Type_III
2109       Obesity_Type_III
2110       Obesity_Type_III
Name: Obesity, Length: 2111, dtype: object

# Train  Test Validating qismlarga ajratish

In [11]:
x_train,x_temp,y_train,y_temp=train_test_split(x,y,test_size=0.3,random_state=42) # demak input v aoutputomizni train test split qismlarga bo'lib olamiz bunda x ni ham y ni ham train va temprory ikki qismga ajratamiz taqriban 70% va 30% miqdorida va test size qilib qanday nisbatda bolishimizni ham buyruq berdik test sizeda trainga 70% bersak biz qolgan qismini yozamiz yani 0,3

In [14]:
x_test,x_val,y_test,y_val=train_test_split(x_temp,y_temp,test_size=0.5,random_state=42)

In [ ]:
x_train.shape  # 1477 ta train

(1477, 16)

In [ ]:
x_val.shape # x va y validation lar ham birbiriga mos tushushi kk

(317, 16)

In [ ]:
y_train.shape  # train shape ham 1477 ta x train bn y train biri biriga mos tushishi  kerak aks holda model ishlamaydi

(1477,)

In [20]:
x_test.shape

(317, 16)

In [18]:
y_test.shape

(317,)

In [ ]:
y_val.shape   # x va y validation lar ham birbiriga mos tushushi kk

(317,)

# Model tanlash

In [21]:
model=DecisionTreeClassifier()

In [31]:
dt=model.fit(x_train,y_train)

ValueError: could not convert string to float: 'Female'

In [33]:
dt

NameError: name 'dt' is not defined

# Model tanlab olingan dan kn Train data set bn o'rgatish

In [34]:
y_pred=dt.predict(x_test)

NameError: name 'dt' is not defined

In [35]:
y_pred

NameError: name 'y_pred' is not defined

In [36]:
accuracy=accuracy_score(y_test,y_pred)

NameError: name 'y_pred' is not defined

In [37]:
print('Modelning aniqligi',accuracy*100)

NameError: name 'accuracy' is not defined